In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import timedelta

Read CDS data

In [23]:
cds_6m = pd.read_excel('cds.xlsx', sheet_name='6mth').dropna(axis= 0, how='all').add_suffix('_6m')[['Date_6m', 'Open_6m']]
cds_1yr = pd.read_excel('cds.xlsx', sheet_name='1yr').dropna(axis= 0, how='all').add_suffix('_1yr')[['Date_1yr', 'Open_1yr']]
cds_2yr  = pd.read_excel('cds.xlsx', sheet_name='2yr').dropna(axis= 0, how='all').add_suffix('_2yr')[['Date_2yr', 'Open_2yr']]
cds_3yr = pd.read_excel('cds.xlsx', sheet_name='3yr').dropna(axis= 0, how='all').add_suffix('_3yr')[['Date_3yr', 'Open_3yr']]
cds_5yr = pd.read_excel('cds.xlsx', sheet_name='5yr').dropna(axis= 0, how='all').add_suffix('_5yr')[['Date_5yr', 'Open_5yr']]
cds_7yr  = pd.read_excel('cds.xlsx', sheet_name='7yr').dropna(axis= 0, how='all').add_suffix('_7yr')[['Date_7yr', 'Open_7yr']]
cds_10yr  = pd.read_excel('cds.xlsx', sheet_name='10yr').dropna(axis= 0, how='all').add_suffix('_10yr')[['Date_10yr', 'Open_10yr']]
cds_15yr = pd.read_excel('cds.xlsx', sheet_name='15yr').dropna(axis= 0, how='all').add_suffix('_15yr')[['Date_15yr', 'Open_15yr']]
cds_20yr  = pd.read_excel('cds.xlsx', sheet_name='20yr').dropna(axis= 0, how='all').add_suffix('_20yr')[['Date_20yr', 'Open_20yr']]
cds_30yr  = pd.read_excel('cds.xlsx', sheet_name='30yr').dropna(axis= 0, how='all').add_suffix('_30yr')[['Date_30yr', 'Open_30yr']]

In [40]:
cds = cds_6m.merge(cds_1yr, left_on='Date_6m', right_on= 'Date_1yr', how='inner', copy = False).merge(cds_2yr, left_on='Date_6m', right_on= 'Date_2yr', how='inner', copy = False).merge(cds_3yr, left_on='Date_6m', right_on= 'Date_3yr', how='inner', copy = False).merge(cds_5yr, left_on='Date_6m', right_on= 'Date_5yr', how='inner', copy = False).merge(cds_7yr, left_on='Date_6m', right_on= 'Date_7yr', how='inner', copy = False).merge(cds_10yr, left_on='Date_6m', right_on= 'Date_10yr', how='inner', copy = False)

In [41]:
cds = cds[cds['Date_6m'] < '2022-04-01']
cds = cds.drop(columns=['Date_1yr', 'Date_2yr', 'Date_3yr', 'Date_5yr', 'Date_7yr', 'Date_10yr'])
cds = cds.rename(columns={'Date_6m':'Settlement Date'})

In [49]:
cds['Maturity_6m'] = cds['Settlement Date'] + pd.DateOffset(days = 180)
cds['Maturity_1yr'] = cds['Settlement Date'] + pd.DateOffset(years =1)
cds['Maturity_2yr'] = cds['Settlement Date'] + pd.DateOffset(years =2)
cds['Maturity_3yr'] = cds['Settlement Date'] + pd.DateOffset(years =3)
cds['Maturity_5yr'] = cds['Settlement Date'] + pd.DateOffset(years =5)
cds['Maturity_7yr'] = cds['Settlement Date'] + pd.DateOffset(years =7)
cds['Maturity_10yr'] = cds['Settlement Date'] + pd.DateOffset(years =10)

In [50]:
cds

,Settlement Date,Open_6m,Open_1yr,Open_2yr,Open_3yr,Open_5yr,Open_7yr,Open_10yr,Maturity_6m,Maturity_1yr,Maturity_2yr,Maturity_3yr,Maturity_5yr,Maturity_7yr,Maturity_10yr
8,2022-03-31,7.740,8.905,10.925,12.170,15.875,18.535,20.825,2022-09-27,2023-03-31,2024-03-31,2025-03-31,2027-03-31,2029-03-31,2032-03-31
9,2022-03-30,7.880,8.990,10.950,12.460,16.460,19.420,21.670,2022-09-26,2023-03-30,2024-03-30,2025-03-30,2027-03-30,2029-03-30,2032-03-30
10,2022-03-29,7.910,9.035,10.985,12.485,16.460,19.420,21.660,2022-09-25,2023-03-29,2024-03-29,2025-03-29,2027-03-29,2029-03-29,2032-03-29
11,2022-03-28,7.880,8.990,10.930,12.425,16.400,19.300,21.910,2022-09-24,2023-03-28,2024-03-28,2025-03-28,2027-03-28,2029-03-28,2032-03-28
12,2022-03-25,7.855,8.970,10.920,12.420,16.385,19.350,21.580,2022-09-21,2023-03-25,2024-03-25,2025-03-25,2027-03-25,2029-03-25,2032-03-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,2009-06-30,21.950,21.950,28.800,31.300,34.680,35.340,36.000,2009-12-27,2010-06-30,2011-06-30,2012-06-30,2014-06-30,2016-06-30,2019-06-30
3333,2009-06-29,23.780,23.780,31.130,33.820,37.440,37.520,37.890,2009-12-26,2010-06-29,2011-06-29,2012-06-29,2014-06-29,2016-06-29,2019-06-29
3334,2009-06-26,24.610,24.610,32.190,34.980,38.720,39.240,39.860,2009-12-23,2010-06-26,2011-06-26,2012-06-26,2014-06-26,2016-06-26,2019-06-26
3335,2009-06-25,27.460,27.460,35.910,39.020,43.200,43.410,43.900,2009-12-22,2010-06-25,2011-06-25,2012-06-25,2014-06-25,2016-06-25,2019-06-25
3336,2009-06-24,25.580,25.580,33.440,36.340,40.230,41.400,42.370,2009-12-21,2010-06-24,2011-06-24,2012-06-24,2014-06-24,2016-06-24,2019-06-24